.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.6em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    padding: 3px;
}
.container{
    text-align: center;
}
.green{
    background-color:greenyellow
}
button{
    margin-top: 2px;
    padding: 5px 30px ;
    background-color: #009879;
    color: #ffffff;
    margin: 1px auto;
    border: none;
    border-radius: 10px;

}
.active{
    background-color: aqua;
}
.styled-table th,
.styled-table td {
    padding: 6px 15px;
    border-right: 1px solid #009879;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.head th{
    padding: 10px 0;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
body{
    height: 750px;
}